RABBITMQ_URL=amqp://rabbitmq:5672

# DATABASE (POSTGRES)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=account
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

EASY_TRANSFER_LIMIT=10000000 # 100 Million Rial
INITIAL_ACCOUNT_GIFT=20000000 # 20 Million Rial
